// Navigation Styles here
.nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    a {
        padding: 20px 30px;
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
    }
}